<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">  
    <head>
    <link href="/css/freeBoard/listDetail.css" rel="stylesheet">   
    </head> 
	<div layout:fragment="content">
    	
		<div class="container" style="height: auto; margin-top: 120px; margin-bottom: 120px;">

			<div id="listLine">
			<hr id="before"> <div id="moveList">COMMUNITY / <a href="/freeBoard/list">Free Board</a></div> <hr id="after">
			</div>
			
			<div class="info">
				<img class="profile" th:src="@{/img/member/} + ${dto.img}">
				<div class="description">
					<span class="nick" th:text="${dto.nickName}"></span><br><span class="subDescription" th:text="${dto.auth}"></span> ㆍ <span class="subDescription" th:text="${dto.bDate}"></span> ㆍ <img class="miniImg" src="/img/fullheart.png"> <span class="subDescription count" th:text="${dto.count}"></span> ㆍ <img class="miniImg" src="/img/eye.png"> <span class="subDescription" th:text="${dto.bCount}"></span>
				</div>
				<img th:if="${flike} == 0" th:id="${dto.bSeq}" class="like lessImg" src="/img/lessheart.png">
				<img th:unless="${flike} == 0" th:id="${dto.bSeq}" class="like fullImg" src="/img/fullheart.png">
			</div>
			
			<h2 th:text="${dto.bTitle}"></h2>

			<div id="content" th:utext="${dto.bContent}">
			</div>
			
			<div id="imgFile">
			<img th:if="${dto.bFile != null}" th:src="${'/freeBoardImg/'+dto.bFile}">
			</div>
			
			<div th:if="${dto.mSeq}==${session.mSeq}" id="buttons">
				<button type="button" th:id="d + ${dto.bSeq}" class="btn" onClick="del()"><i class="fa-solid fa-trash-can"></i> 삭제하기</button>
				<button type="button" th:id="e + ${dto.bSeq}" class="btn" th:onClick="|location.href='@{/freeBoard/edit/{bSeq}(bSeq=${dto.bSeq})}'|"><i class="fa-solid fa-pen-to-square"></i> 수정하기</button>
			</div>
			<input type="hidden" id="writeNumber" th:value="${dto.bSeq}">
			<hr>
			
			31개의 댓글 <!-- dto 댓글 수 불러와서 적용시켜야함 -->
			
			<div id="comment">
				<div id="minicomment">
					<img class="miniProfile" th:src="${'/img/member/'+img}">
					<textarea id="writeComment"></textarea>
					<div id="message">
						<i class="fa-solid fa-circle-info"></i> 
						댓글을 작성하려면 여기를 클릭하세요.
					</div>
				</div>
				<button type="button" id="writeBtn">댓글 쓰기</button>
			</div> <!-- 메인댓글 작성 란 -->
			
			<!-- 수정 중 24.09.24 -->
			<div th:each="dto : ${list}">
			<div class="commentInfo1" th:id="${dto.bcSeq}">
				<img class="profile" th:src="@{/img/member/} + ${dto.img}">
				<div class="description">
					<span class="nick" th:text="${dto.nickName}"></span><br><span class="subDescription" th:text="${dto.auth + ' ㆍ ' + dto.bcDate}"></span>
				</div>
			</div>
			<div class="commentContent" th:utext="${dto.bcContent}">안사면 떨어집니다. 고시원 살면서 이악물고 버티겠습니다. 평생 혼자살겠습니다!</div>
			<div class="replyComment"><span class="moreComment rdComment"><i class="fa-solid fa-chevron-up"></i> 댓글 모두 숨기기</span><span class="rdComment">댓글쓰기</span><span class="remove rdComment">댓글 삭제</span></div>
      		<hr>
      		</div>
			
			<hr>
			
			<!-- <th:if=""></th:if> -->
			<div class="commentInfo1">
				<img class="profile" src="/img/member/default.jpg">
				<div class="description">
					<span class="nick">RunningDog</span><br><span class="subDescription">시니어 개발자 ㆍ 12일 전</span>
				</div>
			</div>
			<div class="commentContent">안사면 떨어집니다. 고시원 살면서 이악물고 버티겠습니다. 평생 혼자살겠습니다!</div>
			<div class="replyComment"><span class="moreComment rdComment"><i class="fa-solid fa-chevron-up"></i> 댓글 모두 숨기기</span><span class="rdComment">댓글쓰기</span><span class="remove rdComment">댓글 삭제</span></div>
      		
      		<!-- 세부 대댓글 디자인 시작 --> <!-- 첫번째 depth -->
      		<div class="viewComment">
      		
      			<div class="commentInfo2">
					<img class="profile2" src="/img/member/member03.jpg">
					<div class="description">
						<span class="nick">잠바</span><br><span class="subDescription">주니어 개발자 ㆍ 9일 전</span>
					</div>
				</div>
				<div class="commentContent">그러내요...ㅋㅋㅋㅋ</div>
				<div class="replyComment2"><span class="moreComment rdComment"><i class="fa-solid fa-chevron-up"></i> 댓글 모두 숨기기</span><span class="rdComment">댓글쓰기</span><span class="remove rdComment">댓글 삭제</span></div>
      				
      				<!-- 두번째 depth -->
      				<div class="viewComment">
      				
      					<div class="commentInfo2">
							<img class="profile3" src="/img/member/member05.jpg">
						<div class="description">
							<span class="nick">티셔츠</span><br><span class="subDescription">주니어 개발자 ㆍ 8일 전</span>
						</div>
						</div>
						<div class="commentContent">앗 진짜??</div>
						<div class="replyComment2"><span class="moreComment rdComment"><i class="fa-solid fa-chevron-up"></i> 댓글 모두 숨기기</span><span class="rdComment">댓글쓰기</span><span class="remove rdComment">댓글 삭제</span></div>
      						
      						<!-- 세번째 depth -->
      						<div class="viewComment">
      						
      							<div class="commentInfo2">
									<img class="profile3" src="/img/member/member07.jpg">
								<div class="description">
									<span class="nick">청바지</span><br><span class="subDescription">시니어 개발자 ㆍ 6일 전</span>
								</div>
								</div>
								<div class="commentContent">앗 진짜??</div>
								<div class="replyComment2"><span class="moreComment rdComment"><i class="fa-solid fa-chevron-up"></i> 댓글 모두 숨기기</span><span class="rdComment">댓글쓰기</span><span class="remove rdComment">댓글 삭제</span></div>
      							<hr>
      							<div class="commentInfo2">
									<img class="profile3" src="/img/member/member08.jpg">
								<div class="description">
									<span class="nick">청자켓</span><br><span class="subDescription">시니어 개발자 ㆍ 5일 전</span>
								</div>
								</div>
								<div class="commentContent">오호??</div>
								<div class="replyComment2"><span class="moreComment rdComment"><i class="fa-solid fa-chevron-up"></i> 댓글 모두 숨기기</span><span class="rdComment">댓글쓰기</span><span class="remove rdComment">댓글 삭제</span></div>
      							
      						</div>
      						
      					<hr>
      					<div class="commentInfo2">
							<img class="profile3" src="/img/member/member06.jpg">
						<div class="description">
							<span class="nick">양말</span><br><span class="subDescription">주니어 개발자 ㆍ 7일 전</span>
						</div>
						</div>
						<div class="commentContent">야호</div>
						<div class="replyComment2"><span class="moreComment rdComment"><i class="fa-solid fa-chevron-up"></i> 댓글 모두 숨기기</span><span class="rdComment">댓글쓰기</span><span class="remove rdComment">댓글 삭제</span></div>
      					
      				</div>
      			<hr>
      			
      			<div class="commentInfo2">
					<img class="profile2" src="/img/member/member04.jpg">
					<div class="description">
						<span class="nick">반바지</span><br><span class="subDescription">시니어 개발자 ㆍ 4일 전</span>
					</div>
				</div>
				<div class="commentContent">앗 정말요??</div>
				<div class="replyComment2"><span class="moreComment rdComment"><i class="fa-solid fa-chevron-up"></i> 댓글 모두 숨기기</span><span class="rdComment">댓글쓰기</span><span class="remove rdComment">댓글 삭제</span></div>
      			
      			
      		</div>
      		<!-- 세부 대댓글 디자인 끝 -->
      		
      		<hr>
      		<div class="commentInfo1">
				<img class="profile" src="/img/member/member02.jpg">
				<div class="description">
					<span class="nick">jjavaman</span><br><span class="subDescription">주니어 개발자 ㆍ 7일 전</span>
				</div>
			</div>
			<div class="commentContent">집 한채 구하고 싶은데<br>떨어져도 올라도 너무 비싸서 못사겠어요....<br>노후엔 어디 숲속에 텐트치고 살각인거 같습니다</div>
			<div class="replyComment"><span class="moreComment rdComment"><i class="fa-solid fa-chevron-down"></i> 댓글 1개 보기</span><span class="rdComment">댓글쓰기</span><span class="remove rdComment">댓글 삭제</span>
			</div>
			
			<div id="subComment">
				<div id="subMiniComment">
					<img class="subMiniProfile" th:src="${'/img/member/'+img}">
					<textarea id="subWriteComment"></textarea>
					<div id="subMessage">
						<i class="fa-solid fa-circle-info"></i> 
						댓글을 작성하려면 여기를 클릭하세요.
					</div>
				</div>
				<button type="button" id="subWriteBtn">댓글 쓰기</button>
			</div> <!-- 세부 댓글 작성란 -->
			
      		

      		
      	</div>
    	
	<script>
	
		const mSeq =  "[[${session.mSeq}]]";
		
		if (!mSeq) {
			alert('로그인을 완료해야 세부 게시글을 조회할 수 있습니다.');
			location.href="/member/login"; 
		}
		
		$('.like').click(function() {
			
			const bSeq = event.target.id;
			
			if ($('.like').hasClass('lessImg')) {
				
				$.ajax({
					type: 'POST',
					url: '/freeBoard/addLike', 
					data: {mSeq : mSeq
						, bSeq : bSeq},
					dataType: 'json',
					success: function(result) {
						
						$('.lessImg').attr("src", "/img/fullheart.png");
						
						$('.lessImg').addClass("fullImg"); 
						$('.lessImg').removeClass("lessImg");
						
						$('.count').text(result);
						
					},
					error: function(a,b,c) {
						console.log(a,b,c);
					}
					
				}); 
				
			} else {
				
				$.ajax({
					type: 'POST',
					url: '/freeBoard/removeLike', 
					data: {mSeq : mSeq
						, bSeq : bSeq},
					dataType: 'json',
					success: function(result) {
						
						$('.fullImg').attr("src", "/img/lessheart.png");
						
						$('.fullImg').addClass("lessImg"); 
						$('.fullImg').removeClass("fullImg");
						
						$('.count').text(result);
						
					},
					error: function(a,b,c) {
						console.log(a,b,c);
					}
					
				}); 
				
			}
		});
		
		function del() {
			let id = event.target.id;
			id = id.substring(1);
			
			if(confirm("정말 삭제하시겠습니까?")) {
				$.ajax({
					type: 'DELETE',
					url: '/freeBoard/delOk',
					data: 'bSeq=' + id,
					dataType: 'json',
					success: function(result) {
						alert('삭제되었습니다.');
						location.href='/freeBoard/list';
					},
					error: function(a,b,c) {
						console.log(a,b,c);
					}
				
				}); 
			} else {
				alert('취소되었습니다.')
			}
		}
		
		$('#writeComment').click(function(){
			$('#message').hide();
		});
		
		$('#writeBtn').click(function(){
			let str = $('#writeComment').val();
			var writeNumber = document.getElementById('writeNumber');
			var bSeq = writeNumber.value;
			
			str = str.replace(/&/g, "&amp;")
		      .replace(/</g, "&lt;")
		      .replace(/>/g, "&gt;")
		      .replace(/'/g, "&apos;")
		      .replace(/\"/g, "&quot;")
		      .replace(/\t/g, "&emsp;")
		      .replace(/\r\n/g, "<br>")
		      .replace(/\r/g, "<br>")  
		      .replace(/\n/g, "<br>");
			 
			$.ajax({
				type: 'POST',
				url: '/freeBoard/addComment',
				data:  {mSeq : mSeq
					, bSeq : bSeq
					, bcContent : str},
				dataType: 'json',
				success: function(result) {
					if (result==1)
					alert('입력되었습니다.');
					$('#writeComment').val('');
					$('#message').show();
				},
				error: function(a,b,c) {
					console.log(a,b,c);
				}
			});
			
		});
		
		
	</script>	
	</div>
	
</html>