<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">  
    <head>
    <link href="/css/freeBoard/list.css" rel="stylesheet">    
    </head>
	<div layout:fragment="content">
    
    	<div id="backDiv">
    		<h1 id="title">자유게시판</h1>	
    	</div>
		
		<div class="container" style="height: 1000px;">
	      	<h3><span id="free" onClick="location.href='/freeBoard/list'">자유게시판</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>QnA게시판</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="interview" onClick="location.href='/interview/interviewPage'">면접후기게시판</span></h3>
			<h1 id="subTitle">자유게시판</h1>		 	
				 	
			<form method="GET" action="/freeBoard/list">
			<div id="searchDiv">
				<select name="search" id="findSelect">
					<option th:if="${map.search == 'all'}" value="all" selected>제목+내용</option>
					<option th:unless="${map.search == 'all'}" value="all">제목+내용</option>
					<option th:if="${map.search == 'bTitle'}" value="bTitle" selected>제목</option>
					<option th:unless="${map.search == 'bTitle'}" value="bTitle">제목</option>
					<option th:if="${map.search == 'name'}" value="name" selected>작성자</option>
					<option th:unless="${map.search == 'name'}" value="name">작성자</option>
					<option th:if="${map.search == 'bContent'}" value="bContent" selected>내용</option>
					<option th:unless="${map.search == 'bContent'}" value="bContent">내용</option>
				</select>
				<div id="contentDiv">
				<input type="text" name="word" id="findSearch" th:if="${map.word != null}" th:value="${map.word}">
				<input type="text" name="word" id="findSearch" th:unless="${map.word != null}"> <button type="submit" id="SearchBtn"><i class="fa-solid fa-magnifying-glass"></i></button>
				</div>
			</div>
			</form> 
		
			<table id="tableBoard">
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>작성자</th>
					<th>등록일</th>
					<th>조회수</th>
				</tr>
				<tr th:each="list1 : ${list}" th:id="${list1.bSeq}" th:onClick="|location.href='@{/freeBoard/listDetail/{id}(id=${list1.bSeq})}'|">
					<td th:text="${list1.bNo}"></td>
					<td th:utext="${list1.bTitle}"></td>
					<td th:utext="${list1.name}"></td>
					<td th:text="${list1.bDate}"></td>
					<td th:text="${list1.bCount}"></td>
				</tr>
				
			</table>
			
			<div id="pagebar" th:utext="${pagebar}"></div>
			
			<button type="button" id="write"><i class="fa-solid fa-pen-fancy"></i> 글쓰기</button>
			
    	</div>
    	
	</div>

</html>