<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">  
    <head>
    <link href="/css/freeBoard/listDetail.css" rel="stylesheet">   
    </head> 
	<div layout:fragment="content">
    	
		<div class="container" style="height: auto; margin-top: 120px; margin-bottom: 120px;">

			<div id="listLine">
			<hr id="before"> <div id="moveList">COMMUNITY / <a href="/freeBoard/list">Free Board</a></div> <hr id="after">
			</div>
			
			<div class="info">
				<img class="profile" th:src="@{/img/member/} + ${dto.img}">
				<div class="description">
					<span class="nick" th:text="${dto.nickName}"></span><br><span class="subDescription" th:text="${dto.auth}"></span> ㆍ <span class="subDescription" th:text="${dto.bDate}"></span> ㆍ <img class="miniImg" src="/img/fullheart.png"> <span class="subDescription count" th:text="${dto.count}"></span> ㆍ <img class="miniImg" src="/img/eye.png"> <span class="subDescription" th:text="${dto.bCount}"></span>
				</div>
				<img th:if="${flike} == 0" th:id="${dto.bSeq}" class="like lessImg" src="/img/lessheart.png">
				<img th:unless="${flike} == 0" th:id="${dto.bSeq}" class="like fullImg" src="/img/fullheart.png">
			</div>
			
			<h2 th:text="${dto.bTitle}"></h2>

			<div id="content" th:utext="${dto.bContent}">
			</div>
			
			<div id="imgFile">
			<img th:if="${dto.bFile != null}" th:src="${'/freeBoardImg/'+dto.bFile}">
			</div>
			
			<div th:if="${dto.mSeq}==${session.mSeq}" id="buttons">
				<button type="button" th:id="d + ${dto.bSeq}" class="btn" onClick="del()"><i class="fa-solid fa-trash-can"></i> 삭제하기</button>
				<button type="button" th:id="e + ${dto.bSeq}" class="btn" th:onClick="|location.href='@{/freeBoard/edit/{bSeq}(bSeq=${dto.bSeq})}'|"><i class="fa-solid fa-pen-to-square"></i> 수정하기</button>
			</div>
			<input type="hidden" id="writeNumber" th:value="${dto.bSeq}">
			<input type="hidden" id="author" th:value="${dto.mSeq}">
			<hr>
			
			<span id="commentCnt"></span> <!-- 댓글 수 출력 -->
			
			<div id="comment">
				<div id="minicomment">
					<img class="miniProfile" th:src="${'/img/member/'+img}">
					<textarea id="writeComment"></textarea>
					<div id="message">
						<i class="fa-solid fa-circle-info"></i> 
						댓글을 작성하려면 여기를 클릭하세요.
					</div>
				</div>
				<button type="button" id="writeBtn">댓글 쓰기</button>
			</div> <!-- 메인댓글 작성 란 -->
      		
      		
      		<!-- 댓글 리스트 -->
      		<div class="commentList"></div>
      		<input type="hidden" id="logImg" th:value="${img}">
      		
      	</div>
    	
	<script>
	
		const mSeq =  "[[${session.mSeq}]]";
		var writeNumber = document.getElementById('writeNumber');
		const bSeq = writeNumber.value;
		var logImg = $('#logImg').val();
		
		if (!mSeq) {
			alert('로그인을 완료해야 세부 게시글을 조회할 수 있습니다.');
			location.href="/member/login"; 
		}
		
		function commentList() {
	
			$.ajax ({
				type: 'GET',
				url: '/freeBoard/commentList', 
				data: 'bSeq=' + bSeq,
				dataType: 'json',
				success: function(data) {
					
					var commentHtml = "";
					var beforeRef = 1;
					var beforeStep = 0;
					var beforeLevel = 0;
					var author = $('#author').val();
					let count = data.length;
					let i=0;
					
					$('#commentCnt').text(count + '개의 댓글');
					$.each(data, function(index, item){
						i++;
						var w = 100 - (3 * item.bcLevel);
						var refLevelDivId = 'rStepLevel' + beforeRef + '-' + beforeStep + '-' + beforeLevel;
						
						if (beforeLevel < item.bcLevel) {
							commentHtml += "<div id='" + refLevelDivId + "'>";
						}else if (beforeLevel > item.bcLevel) {
							for (let j=item.bcLevel; j<beforeLevel; j++)
							commentHtml += "</div>";
						}
						
						if (item.bcLevel > 0) {
							commentHtml += "<div class='viewComment' style='width: "+ w + "%;'>";
						} else {
							commentHtml += "<div class='viewComment'>";
						}
						
						
							
						commentHtml += "<div id ='" + item.bcSeq + "' class='commentInfo1'>";
						commentHtml += "<img class='profile' src='/img/member/" + item.img +"'>";
						commentHtml += "<div class='description'>";
						commentHtml += "<span class='nick'>" + item.nickName + "</span><br><span class='subDescription'>" + item.auth + " ㆍ " + item.bcDate + "</span>";
						commentHtml += "</div>";
						commentHtml += "</div>";
						if (item.bcDell == 'n') {
							commentHtml += "<div class='commentContent'>" + item.bcContent + "</div>";
						} else {
							commentHtml += "<div class='dellDiv'>삭제된 댓글입니다.</div>";
						}
						if (item.bcDell === 'n' && (mSeq == item.mseq || author == mSeq)) {	
							commentHtml += "<div class='replyComment'><span id='" + item.bcRef + "-" + item.bcStep + "-" + item.bcLevel + "' class='moreComment rdComment'><i class='fa-solid fa-chevron-up'></i> 댓글 모두 숨기기</span><span id='" + item.bcRef + item.bcStep + item.bcLevel + "' class='rdComment writeLink'>댓글쓰기</span><span id='" + item.bcSeq + "' class='remove rdComment'>댓글 삭제</span></div>";
						} else {	
							commentHtml += "<div class='replyComment'><span id='" + item.bcRef + "-" + item.bcStep + "-" + item.bcLevel + "' class='moreComment rdComment'><i class='fa-solid fa-chevron-up'></i> 댓글 모두 숨기기</span><span id='" + item.bcRef + item.bcStep + item.bcLevel + "' class='rdComment writeLink'>댓글쓰기</span></div>";
						}
						
						commentHtml += "<div id='subC" + item.bcRef+item.bcStep+item.bcLevel + "' class='subWrite'>";
						commentHtml += "<div id='subMiniComment'>";
						commentHtml += "<img class='subMiniProfile' src='/img/member/" + logImg + "'>";
						commentHtml += "<textarea id='sub" + item.bcSeq + "' class='subWriteComment'></textarea>";
						commentHtml += "<div id='text" + item.bcSeq + "'class='subMessage'>";
						commentHtml += "<i class='fa-solid fa-circle-info'></i>";
						commentHtml += "댓글을 작성하려면 여기를 클릭하세요.";
						commentHtml += "</div>";
						commentHtml += "</div>";
						commentHtml += "<button type='button' id='" + item.bcSeq + "' class='subWriteBtn'>댓글 쓰기</button>";
						commentHtml += "<input type='hidden' id='bcRef" + item.bcSeq +"' value='" + item.bcRef + "'>";
						commentHtml += "<input type='hidden' id='bcStep" + item.bcSeq +"' value='" + item.bcStep + "'>";
						commentHtml += "<input type='hidden' id='bcLevel" + item.bcSeq +"' value='" + item.bcLevel + "'>";
						commentHtml += "</div>";

						if (count != i){
							commentHtml += "<hr>"; 
						}
						
						commentHtml += "</div>";
						
						beforeRef = item.bcRef;
						beforeStep = item.bcStep;
						beforeLevel = item.bcLevel;
						
					});
					
					$('.commentList').html(commentHtml);
					
				},
				error: function(a,b,c) {
					console.log(a,b,c);
				}
			});
		}
		
		$(document).ready(function(){
		    commentList();
		});

		$('.like').click(function() {
			
			if ($('.like').hasClass('lessImg')) {
				
				$.ajax({
					type: 'POST',
					url: '/freeBoard/addLike', 
					data: {mSeq : mSeq
						, bSeq : bSeq},
					dataType: 'json',
					success: function(result) {
						
						$('.lessImg').attr("src", "/img/fullheart.png");
						
						$('.lessImg').addClass("fullImg"); 
						$('.lessImg').removeClass("lessImg");
						
						$('.count').text(result);
						
					},
					error: function(a,b,c) {
						console.log(a,b,c);
					}
					
				}); 
				
			} else {
				
				$.ajax({
					type: 'POST',
					url: '/freeBoard/removeLike', 
					data: {mSeq : mSeq
						, bSeq : bSeq},
					dataType: 'json',
					success: function(result) {
						
						$('.fullImg').attr("src", "/img/lessheart.png");
						
						$('.fullImg').addClass("lessImg"); 
						$('.fullImg').removeClass("fullImg");
						
						$('.count').text(result);
						
					},
					error: function(a,b,c) {
						console.log(a,b,c);
					}
					
				}); 
				
			}
		});
		
		function del() {
			
			if(confirm("정말 삭제하시겠습니까?")) {
				$.ajax({
					type: 'DELETE',
					url: '/freeBoard/delOk',
					data: 'bSeq=' + bSeq,
					dataType: 'json',
					success: function(result) {
						alert('삭제되었습니다.');
						location.href='/freeBoard/list';
					},
					error: function(a,b,c) {
						console.log(a,b,c);
					}
				
				}); 
			} else {
				alert('취소되었습니다.')
			}
		}
		
		$('#writeComment').focus(function(){
			$('#message').hide();
		});
		
		$('#writeComment').blur(function(){
			$('#message').show();
		});
		
		/* 메인 댓글쓰기 버튼 */
		$('#writeBtn').click(function(){
			let str = $('#writeComment').val();
			
			str = str.replace(/&/g, "&amp;")
		      .replace(/</g, "&lt;")
		      .replace(/>/g, "&gt;")
		      .replace(/'/g, "&apos;")
		      .replace(/\"/g, "&quot;")
		      .replace(/\t/g, "&emsp;")
		      .replace(/\r\n/g, "<br>")
		      .replace(/\r/g, "<br>")  
		      .replace(/\n/g, "<br>");
			 
			$.ajax({
				type: 'POST',
				url: '/freeBoard/addComment',
				data:  {mSeq : mSeq
					, bSeq : bSeq
					, bcContent : str},
				dataType: 'json',
				success: function(result) {
					if (result==1)
					alert('입력되었습니다.');
					$('#writeComment').val('');
					$('#message').show();
					commentList();
				},
				error: function(a,b,c) {
					console.log(a,b,c);
				}
			});
			
		});
		
		$(document).on('click','.writeLink',function(){
			
			var id = event.target.id;
			var text = $('#'+id).text();
			
			if(text=='댓글쓰기') {
				$('#subC'+id).show();
				$('#'+id).text('댓글숨기기');
			} else {
				$('#subC'+id).hide();
				$('#'+id).text('댓글쓰기');
			}
			
		});
		
		$(document).on('focus','.subWriteComment',function(){ 
			var textid = event.target.id;
			var id = textid.substr(3);
			$('#text'+id).hide();
		});
		
		$(document).on('blur','.subWriteComment',function(){ 
			var textid = event.target.id;
			var id = textid.substr(3);
			$('#'+textid).val('');
			$('#text'+id).show();
		});
		
		/* 세부 댓글쓰기 버튼 */
		$(document).on('mousedown','.subWriteBtn',function(){
			
			var bcSeq = event.target.id;
			var bcRef = $('#bcRef' + bcSeq).val();
			var bcStep = $('#bcStep' + bcSeq).val();
			var bcLevel = $('#bcLevel' + bcSeq).val();
			let str = $('#sub' + bcSeq).val();
			
			str = str.replace(/&/g, "&amp;")
		      .replace(/</g, "&lt;")
		      .replace(/>/g, "&gt;")
		      .replace(/'/g, "&apos;")
		      .replace(/\"/g, "&quot;")
		      .replace(/\t/g, "&emsp;")
		      .replace(/\r\n/g, "<br>")
		      .replace(/\r/g, "<br>")  
		      .replace(/\n/g, "<br>");
			 
			$.ajax({
				type: 'POST',
				url: '/freeBoard/addSubComment', 
				data:  {bcSeq : bcSeq
					, mSeq : mSeq
					, bSeq : bSeq
					, bcRef : bcRef
					, bcStep : bcStep
					, bcLevel : bcLevel
					, bcContent : str},
				dataType: 'json',
				success: function(result) {
					
					alert('입력되었습니다.');
					$('#sub' + bcSeq).val('');
					$('.subMessage').show();
					commentList();
					
				},
				error: function(a,b,c) {
					console.log(a,b,c);
				}
			});
			
		});
		
		$(document).on('click', '.moreComment', function(){
			var id = event.target.id;
			var text = $('#'+id).text();
			
			if ($('#rStepLevel'+id).length == 0) {
				alert('하위 댓글이 없어 댓글을 숨길 수 없습니다.');
			} else {
				
				if (text == ' 댓글 모두 숨기기') {
					$('#rStepLevel' + id).hide();
					$('#'+id).html('<i class="fa-solid fa-chevron-down"></i> 숨겨진 댓글 나타내기');
				} else {	
					$('#rStepLevel' + id).show();
					$('#'+id).html('<i class="fa-solid fa-chevron-up"></i> 댓글 모두 숨기기');
				}
				
			}
			
		});
		
		$(document).on('click', '.remove', function(){
			var id = event.target.id;

			if(confirm("정말 삭제하시겠습니까?")) {
				$.ajax({
					type: 'PUT',
					url: '/freeBoard/commentDelOk',
					data: 'bcSeq=' + id,
					dataType: 'json',
					success: function(result) {
						alert('삭제되었습니다.');
						commentList();
					},
					error: function(a,b,c) {
						console.log(a,b,c);
					}
				
				}); 
			} else {
				alert('취소되었습니다.')
			}
		});
		
		
	</script>	
	</div>
	
</html>