<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">   
	<head>
		<link href="/css/interview/interviewDetail.css" rel="stylesheet">
	</head>   
	<div layout:fragment="content">
		<div id="backDiv"></div>
		<div class="container" style="height: auto; margin: 30px auto 120px; padding: 0 15px;">
			<div id="line">
				<hr id="before"><div id="moveList">COMMUNITY / <a href="/interview/interviewList">Interview Board</a></div><hr id="after">
			</div>
			<div id="profile">
				<img class="profileImg" th:src="@{/img/member/}+${listDetail.img}">
				<div id="userDiv">
					<span class="nick">[[${listDetail.nickName}]]</span><br>
					<span th:text="${listDetail.auth} == 1 ? '주니어 개발자' : '시니어 개발자'" class="info"/> ·
					<span class="info">[[${listDetail.regDate}]] ·
					<i class="fa-solid fa-heart"></i></i>&nbsp;[[${listDetail.iGood}]] ·
					<i class="fa-regular fa-eye"></i>&nbsp;[[${listDetail.iCount}]]</span>
					<button id="likeBtn"><i class="fa-solid fa-heart fa-2x"></i></button>
				</div>
			</div>
			<h1>[[${listDetail.iTitle}]]</h1>
			<div id="iContent" th:text="${listDetail.iContent}"></div>
			<div id="buttons" th:if="${listDetail.id} == ${session.id}">
				<button type="button" class="btn"><i class="fa-solid fa-pen-to-square"></i>수정하기</button>
				<button type="button" class="btn"><i class="fa-solid fa-trash-can"></i>삭제하기</button>
			</div>
		</div>
		<hr>
		<div id="cmtContainer">
			<span>[[${IntCmtCount}]]개의 댓글</span>
			<div id="comment">
				<form meth="GET" action="/interview/writeCmt">
				<div id="miniComment">
					<th:block th:if="${session.id} != null">
						<img class="profileImg" src="/img/member/default.jpg">
						<div id="textBox">
							<textarea name="icContent" id="icContent"></textarea>
						</div>
					</th:block>
					<th:block th:if="${session.id} == null">
						<img id="profileImg" src="/img/member/default.jpg">
						<div id="message">
							<i class="fa-solid fa-circle-info"></i> 
							댓글을 쓰려면 <a id="moveLogin" href="/member/login">로그인</a>이 필요합니다.
						</div>
					</th:block>
				</div>
				<input type="hidden" th:name="iSeq" th:value="${listDetail.iSeq}">
				<button id="writeBtn" type="submit">댓글 쓰기</button>
				</form>
			</div>
			
			<th:if="${not #lists.isEmpty(listCmt)}" th:each="list:${listCmt}" >
				<div id="commentInfo">
					<img class="profileImg" th:src="@{/img/member/}+${list.img}">
					<div id="commentUser">
						<span class="nick">[[${list.nickName}]]</span><br>
						<span th:text="${list.auth} == 1 ? '주니어 개발자' : '시니어 개발자'" class="info"/> ·
						<span class="info">[[${list.regDate}]]</span>
					</div>
				</div>
				<div id="contentCmt" th:text="${list.icContent}"/>
				<div id="replyComment">
					<span id="moreComment"><i class="fa-solid fa-chevron-down"></i> 댓글 모두 보기</span>
					<!--<span><i class="fa-solid fa-chevron-up"></i> 댓글 모두 숨기기</span>-->
					<span id="writeComment">댓글 쓰기</span> 
					<th:block th:if="${session.mSeq} == ${list.mSeq} and ${session.id} != null">
						<button id="delCommentBtn">댓글 삭제</button>
					</th:block>
				</div>
			</th:if>
		</div>
	</div>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			
			const id = [[${session.id}]];
			/*
			if(!id) {
				alert("로그인 후 사용하실 수 있습니다.");
				location.href="/member/login";
			}
			*/
			
			$('#writeBtn').click(function() {
		    	const icContent = document.getElementById('icContent').value;
		    	console.log(icContent);
		    	if(icContent == '') {
					alert("내용을 입력해주세요.");
				}
		    });	    	
	    	
	    </script>	
    </th:block>
</html>
