<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
	<!-- Footer-->
  	<footer id="footer">
    	<div class="footer-top">
      	<div class="container">
        	<div class="row">
          	<div class="col-lg-3 col-md-6 footer-info">
            	<h3>CoS</h3>
            	<p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
          	</div>
          	<div class="col-lg-3 col-md-6 footer-links">
            	<h4>Useful Links</h4>
            	<ul>
	              <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
	              <li><i class="ion-ios-arrow-right"></i> <a href="#">Study</a></li>
	              <li><i class="ion-ios-arrow-right"></i> <a href="#">Free Board</a></li>
	              <li><i class="ion-ios-arrow-right"></i> <a href="#">QnA Board</a></li>
	              <li><i class="ion-ios-arrow-right"></i> <a href="#">Interview Board</a></li>
            	</ul>
          	</div>
          	<div class="col-lg-3 col-md-6 footer-contact">
            	<h4>Contact Us</h4>
            	<p>
	              <strong>Team Project</strong><br>
	              <strong>Name:</strong> 김설화,김하늘<br>
	              <strong>Phone:</strong> 자기 전화번호<br>
	              <strong>Email:</strong> 자기 이메일<br>
	              <strong>Development Period:</strong> 1달 <br>
	            </p>
	            <div class="social-links">
	              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
	              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
	              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
	              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
	              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
	            </div>
          	</div>
				<div class="col-lg-3 col-md-6 footer-newsletter">
	        		<h4>Our Newsletter</h4>
	            	<p>CoS 웹페이지는 개발기간을 한달정도로 생각하고 취업준비기간동안 실력향상 and 복습을 위해 만든 웹페이지입니다.<br>깃허브로 협업하면서 구현하는데 많은 어려움이 있었지만, 덕분에 뿌듯한 성취감과 실력을 키울 수 있었습니다.<br>앞으로 개발자의 꿈을 가지고 열심히 키워보도록 하겠습니다!</p>
		            <form action="" method="post">
		              <input type="email" name="email"><input type="submit"  value="Subscribe">
		            </form>
	            </div>
	        </div>
	      </div>
	    </div>
    	<div class="container">
	      	<div class="copyright">
	        	&copy; Copyright <strong>CoS</strong>. All Rights Reserved
	      	</div>
      		<div class="credits">
	        <!--
	          All the links in the footer should remain intact.
	          You can delete the links only if you purchased the pro version.
	          Licensing information: https://bootstrapmade.com/license/
	          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
	        -->
	        	Best <a href="https://bootstrapmade.com/">CoS WebPage</a> by Coding Study
	      	</div>
    	</div>
  	</footer><!-- #footer -->
  	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</html>